name: check for app updates

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-osu:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Fetch latest osu release
        id: release
        run: |
          RESPONSE=$(curl -s https://api.github.com/repos/ppy/osu/releases/latest)

          # GitHub tag, e.g., 2026.1201-lazer
          TAG=$(echo "$RESPONSE" | jq -r '.tag_name')
          BUILD_NUMBER=${TAG%-lazer}  # strip -lazer

          SIZE=$(echo "$RESPONSE" | jq -r '.assets[] | select(.name | test("iOS.*\\.ipa$")) | .size')
          URL=$(echo "$RESPONSE" | jq -r '.assets[] | select(.name | test("iOS.*\\.ipa$")) | .browser_download_url')

          echo "build=$BUILD_NUMBER" >> $GITHUB_OUTPUT
          echo "size=$SIZE" >> $GITHUB_OUTPUT
          echo "url=$URL" >> $GITHUB_OUTPUT

      - name: Check if update needed
        run: |
          CURRENT_BUILD=$(jq -r '.apps[0].versions[0].buildVersion // "none"' sources.json)
          if [ "$CURRENT_BUILD" = "${{ steps.release.outputs.build }}" ]; then
            echo "No update needed."
            exit 0
          fi

      - name: Update sources.json
        run: |
          DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

          jq \
            --arg build "${{ steps.release.outputs.build }}" \
            --arg url "${{ steps.release.outputs.url }}" \
            --arg date "$DATE" \
            --argjson size ${{ steps.release.outputs.size }} \
            '.apps[0].versions[0] |=
              . + {
                buildVersion: $build,
                downloadURL: $url,
                size: $size,
                date: $date
              }' sources.json > tmp.json && mv tmp.json sources.json

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add sources.json
          git commit -m "audo update apps"
          git push
